.navbar {
  display: flex;
  justify-content: flex-end; /* Aligns everything to the right */
  background-color: #313131;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-link {
  font-size: 0.8rem;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 4px;
  transition: transform 0.5s ease;
  position: relative; 
  display: inline-block; 
  margin-left: 10px; 
  margin-right: 10px;
  line-height: 1.5; /* Adjust line-height */
  vertical-align: middle; /* Align vertically */
  transform-origin: center; /* Ensure the scaling happens from the center */
}

.nav-link:hover {
  transform: scale(1.2); /* Scale up on hover */
}

.nav-link.active {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.nav-left, .nav-right {
  display: flex;
  align-items: center;
}

.nav-left {
  margin-right: auto;
}

.nav-link-shoppingcart {
  margin-right: 75px;
}
