.navbar {
  display: flex;
  justify-content: space-around;
  background-color: #313131;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-link {
  color: #fff;
  text-decoration: none;
  padding: 10px 40px;
  border-radius: 4px;
  transition: transform 0.3s ease;
  background-color: #525252;
  background: linear-gradient(180deg, #757575, #313131);
  position: relative; 
  display: inline-block; 
  border-bottom: 2px solid #313131; /* Initially same color as the background. */
}

.nav-link:hover {
  transform: translateY(-3px);
  background: linear-gradient(180deg, #b9b9b9, #777777);
  border-bottom-color: #b9b9b9; /* Change border color on hover */
}