.discogsPictureDiv {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.discogsPicture {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.discogsLink {
    color: blue;
    text-decoration: none;
    cursor: pointer;
    font-size: 0.8rem;
}

@media (max-width: 768px) {
    .ag-theme-material {
        width: 100% !important;
    }
    .ag-header-cell, .ag-cell {
        font-size: 0.7rem;
    }
}