.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-container {
  position: relative;
  display: inline-block;
}

.nav-link {
  text-decoration: none;
  color: black;
  position: relative;
  padding: 10px;
}

.notification-badge {
  background-color: #f52b5d; /* Soft pink color */
  color: white;
  font-weight: bold;
  border-radius: 50%;
  width: 16px; /* Set equal width and height for a perfect circle */
  height: 16px; /* Set equal width and height for a perfect circle */
  position: absolute;
  top: -4px; /* Adjusted position for the new size */
  right: -4px; /* Adjusted position for the new size */
  font-size: 8px; /* Smaller font size */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1; /* Ensures proper vertical alignment */
}

/* Optional: add some styling for when there are new messages */
.nav-link.new-messages {
  font-weight: bold;
}

/* In your App.css or a separate CSS file */
.select-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

.select-container select {
  width: 100%;
  padding-right: 30px; /* space for the custom arrow */
}

.select-container::after {
  content: '▼';
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none; /* Allow clicks to pass through */
  color: #999; /* Arrow color */
}
